* {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans' sans-serif;
  box-sizing: border-box;
}

/* This is Home Page CSS */

.hero {
  width: 100%;
}
#home {
  height: 100vh;

  background-image: url(img/profile6.jpg);
  filter: brightness(70%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}
.logo {
  color: #f5f5dc;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 5px #000, 44px 0px 15px #f5f5dc;
}
span {
  color: #cc9966;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a {
  color: #f5f5dc;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover {
  color: #cc9966;
}
nav ul li:hover {
  transform: scale(1.2);
  transition: 0.4s;
}

.content {
  position: absolute;
  top: 60%;
  left: 8%;
  transform: translateY(-50%);
}

.content h1 {
  color: #f5f5dc;
  margin: 10px 0px 10px;
  font-size: 75px;
}

h3 {
  color: #f5f5dc;
  font-size: 25px;
  margin-bottom: 50px;
}

h4 {
  color: #cc9966;
  letter-spacing: 2px;
  font-size: 20px;
}

.newslatter form {
  width: 380px;
  max-width: 100%;
  position: relative;
}
.newslatter form input:first-child {
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid #cc9966;
  outline: none;
  border-radius: 30px;
}

.newslatter form input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #cc9966;
  color: #f5f5dc;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
  top: 6px;
  right: 10px;
  transition: 0.4s;
}
.newslatter input:last-child:hover {
  background-color: transparent;
  border: 2px solid #cc9966;
  cursor: pointer;
  color: #cc9966;
}
/* This is About Page CSS */

.about {
  width: 100%;
  padding: 100px 0px;
  background-color: #000000f6;
}
.about-text h2 {
  color: #f5f5dc;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5 {
  color: #f5f5dc;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about-text p {
  color: #f5f5dc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 20px;
  margin-bottom: 20px;
}

.about img {
  height: auto;
  width: 430px;
}
.about-text {
  width: 550px;
}
.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
button {
  background-color: #cc9966;
  color: #f5f5dc;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
button:hover {
  background-color: transparent;
  border: 2px solid #cc9966;
  cursor: pointer;
}

/* This is Service Page CSS */

.service {
  background-color: #000000f6;
  width: 100%;
  padding: 100px 0px;
}

.title h2 {
  color: #f5f5dc;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: 335px;
  padding: 20px 35px;
  background-color: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  letter-spacing: 2px;
  border: 2px solid #cc9966;
  color: white;
}

.card h5 {
  color: #f5f5dc;
  letter-spacing: 1px;
  font-size: 22px;
  margin-bottom: 15px;
}

.card .button {
  background-color: #cc9966;
  color: #f5f5dc;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 9px 22px;
  border-radius: 30px;
  transition: 0.4s;
}
.card a.button {
  display: flex;
}

.card .button:hover {
  background-color: transparent;
  border: 2px solid #cc9966;
  cursor: pointer;
}

/* This is Contact Me Page CSS */
.contact-me {
  width: 100%;
  height: 290px;
  background-color: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contact-me p {
  color: #f5f5dc;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}

.contact-me .button-two {
  background-color: #cc9966;
  color: #f5f5dc;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}

.button-two:hover {
  background-color: transparent;
  border: 2px solid #cc9966;
  cursor: pointer;
}

/* This is footer Page CSS */

footer {
  position: relative;
  width: 100%;
  height: 500px;
  background: #000000f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p:nth-child(1) {
  font-size: 25px;
  color: #f5f5dc;
  margin-bottom: 20px;
  font-weight: bold;
}
.social {
  display: flex;
}

.social a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  margin: 22px 10px;
  text-decoration: none;
  font-size: 25px;
}
.social a:hover {
  transform: scale(1.3);
  transition: 0.3s;
  cursor: pointer;
}
.social a:nth-child(1) {
  background-color: #0a66c2;
  color: white;
}
.social a:nth-child(2) {
  color: white;
}

.social a:nth-child(3) {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
}
.social a:nth-child(4) {
  background-color: #4267b2;
  color: white;
}

.end {
  position: absolute;
  color: #f5f5dc;
  bottom: 35px;
  font-size: 14px;
}
